<style>
    div.swal2-container {
        z-index: 1100;
    }
</style>
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a class="text-muted fw-light"
                                                                   href="/admin/product/list">Danh sách sản phẩm/</a></span>Đánh
    giá: <span th:text="${product.nameProduct}"></span></h4>
<div class="card mb-3 ">
    <div class="card-header">
        <input class="form-control mb-3" type="search" id="search" placeholder="Nhập thông tin muốn tìm">
        <div class="mb-3 d-inline">
            <select class="form-select w-auto d-inline" id="filter-point">
                <option value="-1">Tất cả</option>
                <option value="1">Từ 1 sao</option>
                <option value="2">Từ 2 sao</option>
                <option value="3">Từ 3 sao</option>
                <option value="4">Từ 4 sao</option>
                <option value="5">Từ 5 sao</option>
            </select>
            <select class="form-select w-auto d-inline mx-3" id="filter-active">
                <option value="-1">Trạng thái</option>
                <option value="true">Hiển thị</option>
                <option value="false">Không hiển thị</option>
            </select>
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 d-flex align-items-center">
                <p>Sô lượng:
                    <span th:text="${#lists.size(list.content)}"></span>
                </p>
            </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-hover overflow-hidden" id="table-evaluate">
                <thead>
                <tr>
                    <th>Tên khách hàng</th>
                    <th>Ngày tạo</th>
                    <th>Điểm đánh giá</th>
                    <th>Bình luận</th>
                    <th>Trạng thái</th>
                    <th>Ảnh</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="evaluate : ${list}">
                    <td th:text="${evaluate.customer.name!= null ?evaluate.customer.name:'Trống' }"></td>
                    <td th:text="${evaluate.dateCreate}"></td>
                    <td th:text="${evaluate.point}"></td>
                    <td th:text="|${evaluate.comment}|"></td>
                    <td>
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input active" type="checkbox" th:value="${evaluate.id}"
                                   th:checked="${evaluate.active}">
                        </div>
                    </td>
                    <td>
                        <img class="w-px-75 image-evaluate" th:each="img:${evaluate.evaluateList}"
                             th:src="|/image/product/${img.nameImage}|" alt="Lỗi ảnh" data-bs-target="#image"
                             data-bs-toggle="modal">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="image" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg text-center" role="img">
                    <!--                    <div class="modal-content">-->
                    <img class="w-75 h-75" src="" alt="lỗi" id="image-evaluate-modal">
                    <!--                    </div>-->
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/admin/plugin/js/evaluate-admin.js"></script>