<style>
    .order:hover {
        background-color: #f1f0f0;
    }

    .pull-up:hover {
        border-radius: 0px !important;
    }


</style>
<section class="container-xl">
    <div class="nav-align-left mb-4">
        <div class="tab-content col-lg-9">
            <div class="tab-pane fade show active " id="navs-top-profile" role="tabpanel">
                <h4>Đơn hàng của bạn</h4>
                <input type="text" th:value="${return}" id="return" hidden="hidden">
                <div class="mb-4 mx-4">
                    <div class="mb-3 row order">
                        <div class="row mt-3">
                            <span class="text-start col-sm-6">Mã đơn:[(${session.billSearch.code})]</span>
                            <span class="text-end col-sm-6" th:text="${session.billSearch.billStatus.status}"></span>
                            <hr>
                        </div>
                        <div th:each="billProduct : ${session.billSearch.billProducts}">
                            <div class="row mb-3">
                                <div class="col-sm-1">
                                    <div class="mb-2">
                                        <img class="imgOrder" th:each="image:${billProduct.product.listImage}"
                                             th:if="${image.location == true}"
                                             th:src="@{'/image/product/'+${image.link}}"
                                             alt="" width="80px" height="80px">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="mb-2">
                                            <span class="text-black">[(${billProduct.product.product.nameProduct+'-'+billProduct.product.product.sku})]
                                            </span>
                                        <div class="text-decoration-none"> Phân loại hàng:
                                            <span th:each="field:${billProduct.product.fieldList}">
                                                <span th:each="field,iterStat : ${billProduct.product.fieldList}">[(${field.value})]
                                                    <span th:if="${!iterStat.last}">,</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="text-gray">
                                            <span>x[(${billProduct.quantity})]</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 text-end">
                                    <div>
                                        <span class="text-strike-through">[(${#numbers.formatDecimal(billProduct.price,0,'COMMA',0,'POINT')})]</span>
                                        <span class="fs-tiny text-decoration-underline">đ</span>
                                    </div>
                                    <div th:if="${billProduct.reducedMoney !=0}">
                                        <span>[(${#numbers.formatDecimal(billProduct.price-billProduct.reducedMoney,0,'COMMA',0,'POINT')})]</span>
                                        <span class="fs-tiny text-decoration-underline">đ</span>
                                    </div>
                                    <div th:if="${billProduct.reducedMoney==0}">
                                        <span>[(${#numbers.formatDecimal(billProduct.price,0,'COMMA',0,'POINT')})]</span>
                                        <span class="fs-tiny text-decoration-underline">đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-end mb-3">
                            Thanh toán:
                            <span class="col-sm-2">
                                        [(${#numbers.formatDecimal(session.billSearch.totalPrice+session.billSearch.deliveryNotes[0].deliveryFee,0,'COMMA',0,'POINT')})]
                                      <span class="text-decoration-underline fs-tiny">đ</span>
                                </span>
                        </div>
                        <br>
                        <div class="text-end mb-3">
                            <a class="btn btn-danger"
                               th:if="${session.checkDisPlayDetail}"
                               th:href="@{/order/return_nologin/{id}(id=${session.billSearch.id})}"
                            >Chi tiết Trả hàng/Hoàn Tiền
                            </a>
                            <a class="btn btn-outline-dark"
                               th:href="@{/invoice/invoice_detail/{id}(id=${session.billSearch.id})}"
                            >Xem chi tiết
                            </a>
                            <a class="btn btn-danger return"
                               th:if="${ !session.compareBillAndHistory && !session.checkCondition && session.checkReturn }"
                               th:href="@{/order_return/detail/{id}(id=${session.billSearch.id})}">Trả
                                hàng
                            </a>
                            <a class="btn btn-outline-dark"
                               onclick="return confirm('Xác nhận hủy đơn hàng')"
                               th:href="@{/order/remove/{id}(id=${session.billSearch.id})}"
                               th:if="${session.billSearch.billStatus.code == 'WP' || session.billSearch.billStatus.code == 'PG' }"
                            >Hủy đơn hàng
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script src="/admin/plugin/js/loadImage.js"></script>
<script src="/admin/plugin/js/order.js"></script>
<script>
    if (document.getElementById("return").value == "return") {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: "Trả hàng thành công!"
        });
    }

</script>