<style>
    .order:hover {
        background-color: #f1f0f0;
    }

    .pull-up:hover {
        border-radius: 0px !important;
    }

    .imgOrder {
        border: 1px solid #6e7881 !important;
    }

    .statusBP {
        color: chocolate !important;
    }
    .viewReturnwait{
      padding: 2px 5px;
    margin: 0 0 0 6px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    color: #ee4d2d;
    border: 1px solid rgba(0,0,0,.09);
    }








</style>
<section>
    <div class="text-center mb-3" sec:authorize="isAuthenticated()">
        <div class="d-inline-flex">
            <div>
                <h2 class="text-uppercase">CHÀO MỪNG QUAY TRỞ LẠI, <span
                        th:name="avatar"
                        th:text="${#authentication.principal.name}"></span></h2>
                <p><i>Kiểm tra và chỉnh sửa thông tin cá nhân của bạn tại đây</i></p>
            </div>
        </div>
        <div class="d-inline-block mx-3">
            <img th:src="@{'/image/'+${#authentication.principal.avatar}}" alt="" id="avatar"
                 class="w-px-200 h-px-200 rounded-circle avatar">
            <input type="file" hidden accept="image/" id="avatarUpload" name="image">
        </div>
    </div>
    <div class="nav-align-left mb-4">
        <ul class="nav nav-tabs col-lg-2" role="tablist" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a type="button" class="nav-link pb-3 pt-35 fs-5 te" role="tab"
                   aria-controls="navs-top-home" aria-selected="false"
                   th:href="@{/profile}">
                    Thông tin tài khoản
                </a>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link active pb-3 pt-3 fs-5" role="tab" data-bs-toggle="tab"
                        data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="true">
                    Đơn hàng của bạn
                </button>
            </li>
            <li class="nav-item">
                <a type="button" class="nav-link pb-3 pt-35 fs-5" href="/logout"
                   aria-controls="navs-top-home" aria-selected="false">
                    Đăng xuất
                </a>
            </li>
        </ul>
        <div class="tab-content col-lg-10">
            <div class="tab-pane fade show active " id="navs-top-profile" role="tabpanel">
                <div class="mb-4 mx-4" sec:authorize="isAuthenticated()">
                    <ul class="nav nav-tabs nav-fill me-lg-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a th:class="|nav-link page ${session.activeOrder == 0 ?'active':''}|" aria-current="page"
                               th:href="@{/order}">Tất cả</a>
                        </li>
                        <li class="nav-item  ">
                            <a th:class="|nav-link page ${session.activeOrder == 1 ?'active':''}|"
                               th:href="@{/order/status/1}">Chờ xử lý</a>
                        </li>
                        <li class="nav-item  ">
                            <a th:class="|nav-link page ${session.activeOrder == 3 ?'active':''}|"
                               th:href="@{/order/status/3}">Vận chuyển</a>
                        </li>
                        <li class="nav-item  ">
                            <a th:class="|nav-link page ${session.activeOrder == 4 ?'active':''}|"
                               th:href="@{/order/status/4}">Đã giao</a>
                        </li>
                        <li class="nav-item  ">
                            <a th:class="|nav-link page ${session.activeOrder == 5 ?'active':''}|"
                               th:href="@{/order/status/5}">Đã hủy</a>
                        </li>
                        <li class="nav-item  ">
                            <a th:class="|nav-link page ${session.activeOrder== 6 ?'active':''}|"
                               th:href="@{/order/bill_return}">Trả hàng/Hoàn tiền</a>
                        </li>
                    </ul>
                </div>
                <div class="mb-4 mx-4">
                    <div class="row mt-3">
                            <span class="col-sm-6">
                                 <a class="text-black" sec:authorize="!isAuthenticated()"
                                    style="font-size: 15px ; font-family: roboto !important;"
                                    th:href="@{/search_order?search={codeSearch}(codeSearch=${session.codeSearch})}"> < Trở Lại</a>
                            </span>
                    </div>
                    <div class="mb-3 row order" th:each="historyReturnDto , billStat : ${listNew}">
                        <div class="row mt-3" th:each=" historyBillReturnList : ${historyReturnDto}">
                            <div class="row mt-3">
                                <span class="col-sm-6">Mã đơn:[(${historyBillReturnList?.bill?.code})] | Yêu cầu vào : [(${#dates.format(historyBillReturnList?.historyBillProductList[0].date, 'dd/MM/yyyy HH:mm')})]</span>
                                <span class="text-end col-sm-6"
                                      th:text="${historyBillReturnList?.bill?.billStatus?.status}"></span>
                                <hr>
                            </div>
                            <hr>
                            <div th:each=" historyBillReturn : ${historyBillReturnList.historyBillProductList}">
                                <div class="row">
                                    <div class="row mb-3">
                                        <div class="col-sm-1">
                                            <div class="mb-2">
                                                <div th:each="image:${historyBillReturn?.billProduct?.product?.listImage}">
                                                    <img th:if="${image.location == true}"
                                                         th:src="@{'/image/product/'+${image.link}}"
                                                         alt="" width="80px" height="80px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5 ">
                                            <div class="mb-2">
                                                <div style="display: flex">
                                                <span class="text-black">[(${historyBillReturn?.billProduct?.product?.product?.nameProduct+'-'+historyBillReturn?.billProduct?.product?.product.sku})]
                                                <span> </span>
                                                </span>
                                                </div>
                                                <div class="text-decoration-none"> Phân loại hàng:
                                                    <span th:each="field,iterStat : ${historyBillReturn?.billProduct?.product.fieldList}">[(${field.value})]
                                                                                      <span th:if="${!iterStat.last}">,</span>
                                                                                </span>
                                                </div>
                                                <div class="text-gray">
                                                    <span>x[(${historyBillReturn.quantityRequestReturn})]</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div th:if="${historyBillReturn?.statusBillProduct == 1}"
                                                 class="viewReturnwait">Đang đợi người bán phê duyệt
                                            </div>
                                            <div th:if="${historyBillReturn?.statusBillProduct != 1}"
                                                 class="viewReturnwait"> Đã xử lý
                                            </div>

                                        </div>
                                        <div class="col-sm-3 text-end">
                                            <div>
                                                <span class="text-strike-through"> [(${#numbers.formatDecimal(historyBillReturn.billProduct.price,0,'COMMA',0,'POINT')})]</span>
                                                <span class="fs-tiny text-decoration-underline">đ</span>
                                            </div>
                                            <div th:if="${historyBillReturn?.billProduct.reducedMoney !=0}">
                                              <span >
                                                  [(${#numbers.formatDecimal(historyBillReturn?.billProduct.price-historyBillReturn?.billProduct.reducedMoney,0,'COMMA',0,'POINT')})]
                                                                         <strong class="fs-tiny text-decoration-underline">đ</strong>
                                                </span>
                                            </div>
                                            <div th:if="${historyBillReturn?.billProduct.reducedMoney==0}">
                                                <span >
                                                    [(${#numbers.formatDecimal(historyBillReturn?.billProduct.price,0,'COMMA',0,'POINT')})]
                                                                   <strong class="fs-tiny text-decoration-underline">đ</strong>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <div>[(${historyBillReturnList?.quantityAccept})] sản phẩm</div>
                                </div>
                                <div class="col-6">
                                    <div th:if="${historyBillReturnList.returnMoney >=0}"
                                         class="text-end text-black mb-1 fw-bold">
                                        Số tiền hoàn
                                        lại:[(${#numbers.formatDecimal(historyBillReturnList?.returnMoney,0,'COMMA',0,'POINT')})]
                                    </div>
                                    <div th:if="${historyBillReturnList.returnMoney < 0}"
                                         class="text-end text-black mb-1 fw-bold"
                                         id="returnMoneyDiv">
                                        Khách hàng gửi lại : <span>[(${#numbers.formatDecimal(historyBillReturnList?.returnMoney-(historyBillReturnList?.returnMoney*2),0,'COMMA',0,'POINT')})]</span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <br>
                            <div class="text-end mb-3 ">
                                <a class="btn btn-outline-dark"
                                   th:href="@{/view_order/detail_return/{id}/{returnTimes}(id=${historyBillReturnList?.bill.id}, returnTimes=${historyBillReturnList?.returnTimes})}"
                                >Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script src="/admin/plugin/js/loadImage.js"></script>
<script src="/admin/plugin/js/order.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    if (document.getElementById("return").value == "return") {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: "Trả hàng thành công!"
        });
    }







</script>